<footer>
    <div class="footer-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <ul class="nav flex-row">
              <li class="nav-item"><a href="#" class="nav-link text-dark">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link text-dark">Central do Cliente</a></li>
              <li class="nav-item"><a href="#" class="nav-link text-dark">Fale Conosco</a></li>
              <li class="nav-item"><a href="#" class="nav-link text-dark">Quem somos</a></li>
            </ul>
          </div>
          <div class="col-md-12 d-flex justify-content-center nomeEmpresa">
            <span>© 2023 PurrFect Play.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
  