footer {
    background-color: #ffc1d5;
    color: #000;
    padding: 10px 0;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav {
    margin-bottom: 10px;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nomeEmpresa {
    margin-top: 10px;
    text-align: center;
  }
  