
  <div class="inicio">    
    <!-- Inicio corpo -->
    <section>
      <div class="container">
        <div class="row">        
          <div class="col-md-12 escolha">
            <div class="col-md-3 divPromo">             
              <button type="button" class="btn btn-primary promo"><i class="bi bi-gem"></i><h6>1ª COMPRA</h6></button><!--PROMOS-->
            </div>
            <div class="col-md-3 divPromo">             
              <button type="button" class="btn btn-primary promo"><i class="bi bi-gem"></i><h6>CASH BACK</h6></button>
            </div>
            <div class="col-md-3 divPromo">
              <button type="button" class="btn btn-primary promo"><i class="bi bi-gem"></i><h6>VALE PRESENTE</h6></button>
            </div>
            <div class="col-md-3 divPromo">
              <button type="button" class="btn btn-primary promo"><i class="bi bi-gem"></i><h6>LIQUIDA</h6></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 resultado">
            <h2>Resultado de Busca: <b>Funko Pop</b></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 menu"> <!--MENU-->
            <div class="col-md-4 card "> <!--CARDS-->
              <a (click)="navigateToFunkoDeadpool()">
                <img [src]= "FunkoDeadpool" class="card-img-top cardproduto" alt="Funko Deadpool #320">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Deadpool #320</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 139,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
            <!-- <hr style="border: 1px black solid;"> -->
            <div class="col-md-4 card">
              <a (click)="navigateToFunkoCoraline()">
                <img img [src]= "FunkoCoraline" class="card-img-top cardproduto" alt="Funko Coraline #422">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Coraline #422</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 129,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
            <!-- <hr style="border: 1px black solid;"> -->
            <div class="col-md-4 card">
              <a (click)="navigateToFunkoCruela()">
                <img img [src]= "FunkoCruela" class="card-img-top cardproduto" alt="Funko Cruela #1038">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-half iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Cruela #1038</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 159,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 menu">
            <div class="col-md-4 card">
              <a (click)="navigateToFunkoLoki()">
                <img img [src]= "FunkoLoki" class="card-img-top" alt="Funko Loki #898">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Loki #898</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 159,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
            <!-- <hr style="border: 1px black solid;"> -->
            <div class="col-md-4 card">
              <a (click)="navigateToFunkoMerida()">
                <img img [src]= "FunkoMerida" class="card-img-top" alt="Funko Merida #324">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Merida #324</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 139,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
            <!-- <hr style="border: 1px black solid;"> -->
            <div class="col-md-4 card">
              <a href="detalheProdutoMM.html" onclick="load()">
                <img src="https://atacado.lojatoys4fun.com.br/media/catalog/product/cache/c6cb0d9eb407599e4eb00f17c03af209/m/u/mulher_maravilha_wonder_woman_classic_with_cape_.png" class="card-img-top" alt="Funko Mulher Maravilha #433">
              </a>
              <div class="card-body">
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <i class="bi bi-heart-fill iconHeart"></i>
                <h5 class="card-title tituloGeral">Funko Mulher Maravilha #433</h5>
                <div class="preco">
                  <p class="card-text">Por <b>R$ 159,90</b></p>
                  <a href="#" class="btn btn-outline-success btncompra">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
