

      <!-- inicio corpo -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 corpoProduto">
            <div class="col-md-8 cardImagem">
              <div class="card">
                <div class="card-body">
                  <img src="https://atacado.lojatoys4fun.com.br/media/catalog/product/cache/c6cb0d9eb407599e4eb00f17c03af209/m/u/mulher_maravilha_wonder_woman_classic_with_cape_.png"  width="400"/>
                </div>
              </div>
            </div>           
            <div class="col-md-4 texto">
              <div class="valores">
                <h3><b>Funko Pop - Mulher Maravilha</b></h3>
                <p>Wonder Woman #433 </p>
                <div class="cardItens">
                  <p>FRETE GRÁTIS - SP</p>
                  <div class="opQtd">
                    <div class="valInput">
                      <input type="number" min="1" value="1" class="form-control">
                    </div>
                    <div class="divBtn">  
                      <button class="btn btn-outline-primary btncompra" id="btn1">Comprar</button>
                    </div>
                  </div>
                  <h5 class="preco">Por <b>R$ 149,90</b></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 descricao">
            <h3 class="titulo">Descrição</h3>
            <p>Se você é fã dos filmes da DC Comics, não pode perder a incrível figura Funko Pop de Mulher Maravilha #433!         
            A figura apresenta Mulher Maravilha em sua aparência clássica, com sua armadura dourada e sua tiara.
            Mede cerca de 10 cm de altura.
            Fabricado com material de alta qualidade e com detalhes precisos para garantir sua autenticidade.
            Funko Pop Original e Licenciado.</p>
          </div>
        </div>
      </div>
      <!-- fim corpo-->
     