<div id="corpo">        
  <div class="container">
    <div class="row">          
      <div class="col-md-12">
        <div class="nomeCate">
          <h1 class="text-[2.5rem]">Top Canecas</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 cardsBloco">
        <ng-container *ngFor="let produto of produtosCaneca; let i=index">
          <ng-container *ngIf="i < 3">
            <div class="col-md-3 divCardItens" >          
              <div class="card cardItens">
                <a class="cursor-pointer" (click)="navigateToCaneca(produto.idproduto)">
                  <img [src]="produto.url" alt="{{produto.nome}}">
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{produto.nome}}</h5>
                  <div class="preco">
                    <p class="card-text">Por <b>R$ {{produto.valorFormatado}}</b></p>
                    <a href="#" class="btn btn-outline-success btnCompra">Comprar</a>
                  </div>
                </div>
              </div>          
            </div>
          </ng-container>
        </ng-container>            
      </div>
    </div>
    
    <div class="row">          
      <div class="col-md-12">
        <div class="nomeCate">
          <h1 class="text-[2.5rem]">Top Funkos</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 cardsBloco">
        <div class="col-md-3 divCardItens" *ngFor="let produto of produtosFunko">
          <div class="card cardItens">
            <a class="cursor-pointer" (click)="navigateToFunko(produto.idproduto)">
              <img [src]="produto.url" alt="{{produto.nome}}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{produto.nome}}</h5>
              <div class="preco">
                <p class="card-text">Por <b>R$ {{produto.valorFormatado}}</b></p>
                <a href="#" class="btn btn-outline-success btnCompra">Comprar</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">          
      <div class="col-md-12">
        <div class="nomeCate">
          <h1 class="text-[2.5rem]">Top Chaveiros</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 cardsBloco">
        <div class="col-md-3 divCardItens" *ngFor="let produto of produtosChaveiro">
          <div class="card cardItens">
            <a class="cursor-pointer" (click)="navigateToChaveiro(produto.idproduto)">
              <img [src]="produto.url" alt="{{produto.nome}}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{produto.nome}}</h5>
              <div class="preco">
                <p class="card-text">Por <b>R$ {{produto.valorFormatado}}</b></p>
                <a href="#" class="btn btn-outline-success btnCompra">Comprar</a>
              </div>
            </div>
          </div>
        </div>             
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>