<div class="col-md-12" id="topo">
    <div class="container">
        <div class="row">          
            <div class="col-md-12" id="topo-body">  
                <div class="col-md-2 col-sm-auto" id="logo">
                    <a (click)="navigateToHome()" style="cursor: pointer;">
                    <img [src]="logo" alt="logo" width="150" />        
                    </a>             
                </div>
                <div class="col-md-8 col-sm-auto" id="topo-busca">
                    <div id="campoBusca">
                    <input name="txtBusca" id="txtBusca" placeholder="Buscar..." [(ngModel)]="txtBusca" autocomplete="off"/>
                    <button id="btnBusca" (click)="validarBusca()">Buscar</button>
                    </div>            
                </div>
                <div class="col-md-1 col-sm-auto" id="icon-user">
                    <a (click)="navigateToLogin()" style="cursor: pointer;">
                    <img [src]="iconUser" alt="login" />
                    </a>
                </div> 
                <div class="col-md-1 col-sm-auto" id="icon-carrinho">
                    <a (click)="navigateToCarrinho()" style="cursor: pointer;">
                    <img [src]="iconCar" alt="carrinho" />
                    </a>
                </div>

                <div id="menu__btn" class="d-md-none cursor-pointer">
                    <i class="fa-solid fa-bars text-[30px]"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<app-menu></app-menu>
